<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
    <header>
        <h1>Analysing Agriculture in India</h1>
        <p>Making Strategic Decisions Based on Population</p>
    </header>
    <main>
        <div class="project-info">
        <section class="project-info">
            <h2>About the Project</h2>
            <p>
                The "Analysing Agriculture in India" project aims to analyze the agricultural landscape of India and make data-driven strategic decisions based on population trends.
                By combining production data, population demand, and market trends, the project seeks to optimize crop diversification, sustainable practices, technology integration, and policy enhancements.
                This project is a step towards ensuring food security, aligning with population requirements, and considering environmental and economic aspects.
            </p>
        </section>
        <section class="project-image">
            <img src="{{ url_for('static', filename='pexels-oleksandr-p-321542.jpg') }}" alt="">
        </section>
        <section id="importance">
            <h2>Importance of Agriculture</h2>
            <p>Importance of Agriculture: Highlight the significance of agriculture in India's economy and employment, with statistics on the percentage of population engaged in agriculture.
            </p>
        </section>
        
        <section id="diversity">
            <h2>Crop Diversity</h2>
            <p>Crop Diversity: Discuss the variety of crops cultivated in different regions of India and their impact on food security and nutrition.</p>
        </section>
        
        <section id="challenges">
            <h2>Challenges in Agriculture</h2>
      <p>Challenges: Address challenges faced by the agriculture sector, such as climate change, water scarcity, pest management, and the need for sustainable practices.
    </p>
        </section>
        
        <section id="government">
            <h2>Government Initiatives</h2>
            <p>Government Initiatives: Mention government schemes and initiatives aimed at improving agriculture, like subsidies, crop insurance, and technology adoption.</p>
        </section>
        <section id="access">
            <h2>Market Access</h2>
           <p>
            Market Access: Analyze the challenges farmers face in accessing markets and suggest strategies to improve market linkages.
           </p>
        </section>
        
        <section id="education">
            <h2>Education and Training</h2>
           <p>Education and Training: Emphasize the importance of educating farmers about modern agricultural practices and providing training for skill development.
        </p>
        </section>
        
        <section id="community">
            <h2>Community Participation</h2>
            <p>Community Participation: Discuss the role of local communities and cooperatives in enhancing agriculture and suggest ways to promote collective farming.</p>
        </section>
        
        <section id="sustainability">
            <h2>Sustainable Practices</h2>
            <p>Sustainable Practices: Address the need for sustainable agriculture, including organic farming, conservation of natural resources, and reducing chemical inputs. 
                </p>
        </section>
    </div>
    </main>
    <footer>
        <p>&copy; 2023 Ibm hack challenge. Team Dreams Hack.</p>
    </footer>
    
</body>
</html>