<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body >
<div id="header-wrapper" >
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Agriculture</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="/index" accesskey="1" title="">Homepage</a></li>
				<li><a href="/about" accesskey="2" title="">About</a></li>
				<li><a href="/dashboard" accesskey="3" title="">Dashboard</a></li>
				<li><a href="/report" accesskey="4" title="">Report</a></li>
				<li><a href="/story" accesskey="5" title="">Story</a></li>
				<li><a href="/contactus" accesskey="6" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2 class="heading">IBM HACK CHALLENGE</h2>
			<span class="byline">Analysing Agriculture in India and making strageic decisions based on it according to population</span>
		</div>
		<ul class="actions">
			<li><a href="/dashboard" class="button">View Dashboard</a></li>
		</ul>
	</div>
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>Report</h2>
			<span class="byline">
				The report comprehensively examines India's agricultural landscape, combining production data, population demand, and market trends. Strategic recommendations encompass crop diversification, sustainable practices, technology integration, and policy enhancements to optimize yield, ensure food security, and align with population requirements while considering environmental and economic aspects</span>
		</div>
		<div class="boxA">

			<a href="/Report" class="button button-alt">view Report</a>
		</div>
		
	</div>
</div>
<div id="welcome">
	<div class="container">
		<div class="title">
			<h2>Story</h2>
			<span class="byline">Amid India's vast population, agriculture plays a critical role. To address this, data-driven strategies are essential. By analyzing farming trends and population distribution, targeted decisions can enhance food security. Implementing advanced techniques and education can boost yields in densely populated regions. Simultaneously, encouraging agribusiness diversification can ease pressure on rural areas. This holistic approach fosters sustainable growth, meeting both nutritional needs and economic demands.</span>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">View Story</a></li>
		</ul>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy;  IBM HACK CHALLENGE </a> | Design by  Dreams Hack</p>
</div>
</body>
</html>
